<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora de leitura
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="cabeçalho">
    <h1>Bem vindo(a), leitora(a)!</h1>

    <ul>
      <li>Pegue um livro e informe a quatidade de paginas dele.</li>
      <li>Abra-o em uma pagina (preferencialmente  uma  que contenha texto do início ao fim, semelhante a figura abaixo).</li>
      <li>Feito isso, clique no botão <strong>Iniciar</strong> e faça a leitura.</li>
      <li>Após finalizar, clique no botão <strong>Parar</strong></li>
    </ul>

    <img src="assets/image/livro.png" alt="imagem livro">
  </div>

  <div id="formulario">
    <ion-input placeholder="informe a quantidade de páginas" [(ngModel)]="paginas" ></ion-input>
    <ion-button *ngIf="controleButao == false" expand="block" shape="round" (click)="start()" >Iniciar</ion-button>
    <ion-button *ngIf="controleButao == true" color="danger" expand="block" shape="round" (click)="stop()">Parar</ion-button>    
  </div>

  <div id="tempo">
    <img src="assets/image/time.gif" alt="relogio">
  </div>

  
</ion-content>
