ion-toolbar{
    --background: rgb(40, 140, 240);
    --color: rgb(255, 255, 255);
}   

ion-content{
    --background: black/*rgb(240, 240, 240)*/;

    div#cabeçalho{        
        margin-top: 6px;        
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            color: rgb(245, 245, 245);
            font-size: 25px;
            font-weight: 700;
            margin: 7px;
        }

        ul{
            color: rgb(143, 143, 143);
            font-size: 14px;
            font-weight: 400;

            li{
                margin-bottom: 2,5%;
            }
        }

        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 1px solid rgb(17, 17, 17);
        }
    }

    div#formulario{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        
        ion-input{
            background-color: rgb(141, 141, 141);
            border-radius: 50px;
        }
        
        ion-button{
            margin-top: 7px;
            font-size: 15px;
            --background: rgb(40, 140, 240);
        }

    }

    div#tempo{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 150px;
            height: 150px;

            filter: 
            brightness(90%) 
            contrast(90%) 
            hue-rotate(300deg) 
            opacity(90%) saturate(90%)
            grayscale(20%);
            
        }
    }

}
